<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= react_component("layouts/SideMenu", menu: I18n.t('.side_menu'), 
      locale: params[:locale], company: params[:company]) %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
